.users {
  width: 15%;
  padding: 15px;
  background-color: beige;
  border-radius: 4px;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.online_user {
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
}