
/* NAMESPACE START */
.namespaces {
  width: 6.5%;
  background-color: #3A3A3A;
  padding: 0 8px;
}

.profile_container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.profile {
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.profile:hover {
  border-radius: 30%;
}
/* NAMESPACE END */