.container {
  width: 5%;
  max-width: 120px;
  padding: 0 8px;
  background-color: #3A3A3A;
}

.rooms {
  height: 95%;
  overflow-y: scroll;
  padding-top: 15px;
}

.profile_container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.profile {
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.profile:hover {
  border-radius: 30%;
}

.icon_container {
  height: 5%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.icon {
  font-size: 24px;
}