
.container {
  display: flex;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  background-color: #36454F;
  color: #fff;
}

/* NAMESPACE START */
.namespaces {
  width: 6.5%;
  background-color: #3A3A3A;
  padding: 0 8px;
}

.profile_container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.profile {
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.profile:hover {
  border-radius: 30%;
}
/* NAMESPACE END */

/* GROUP START */
.group {
  width: 22%;
  background-color: #444;
}

.group_title {
  padding: 20px 10px 10px 10px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-bottom: 2px solid #3A3A3A;
}

.rooms {
  padding: 10px 15px 0 15px;
  list-style: none;
}

.rooms li {
  cursor: pointer;
  padding: 10px 7px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ddd;
}

.active {
  background-color: rgb(38, 38, 38);
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
}

/* GROUP END */

.main {
  width: 50%;
}

.online {
  width: 20%;
  border: 2px solid #eee;
}