
.register {
  max-width: 400px;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 2px 10px 0;
  border-radius: 4px;
}

.title {
  margin-bottom: 10px;
  color: #444;
  letter-spacing: 1px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin: 10px;
  padding: 10px;
  border: 1px solid #eee;
  color: #444;
  font-size: 16px;
  outline: none;
}

.form input::placeholder {
  color: #a9a9a9;
  font-size: 14px;
}

.button {
  margin: 10px;
  padding: 10px;
  background-color: #845ec2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 700;
}

.button:hover {
  background-color: #7750b6;
}

.login {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}

.login span {
  color: #7750b6;
  cursor: pointer;
  font-weight: 700;
}

.login span:hover {
  text-decoration: underline;
}